.entete{
    background: black;
    width: 100%;
    height: 5%;
}
.header{
    background-color: #222222;
    width: 100%;
    height: 7%;
    border-radius: 3%;

}
.headerleft{
    font-size: 20px;
    padding-top: 15px;
    padding-left: 5px;
    float: left; 
    font-weight: bold;
color: #6D6E72;
}
.headerright{
    float:right;
    
    
}
.headerright li{
    
font-size: 20px;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: bold;
    display: inline;
    color: #6D6E72;
    cursor: pointer;
   
}
.headerright a{
    text-decoration: none;
    color: white;
    padding: 20px 20px;
}


.headerright li:hover{
    background-color: #5BB85D;
    padding: 17px 17px;
}
.vide{
    width:100;
    height:1%;
}
.container{
    
    width: 100%;
    height: 90%;
    background-image: url(fond.png);
    display: block;
    background-size: cover;
}
.register{
    font-size: 30px;
    color: white;
    text-align: center;
    padding-top: 8%;
}
.hr{
    width:55%;
}
.formulaire{
    
        text-align: center;
            width:400px;
            margin:0 auto;
            margin-top:3%;
            color: white;
        
}
.input{
    width:75%;
    height:7%;
    border-radius: 5px;
}
.submit{
    height:7%;
    width:75%;
    border-radius: 5px;
    background-color: #5BB85D;
    cursor: pointer;
    color: white;
}
.copy{
  width: 100%;
  height:5% ;
  color: #7B7A7B;
  text-align: center;
  padding-top: 1%;
}
.active{
    background-color:rgb(48, 46, 46);
    color: white;
    padding:12px 12px;
   
}